pandas
torch
numpy
transformers
matplotlib
sentence-transformers
hf_xet
sentencepiece
tiktoken
protobuf
fastapi
uvicorn
requests
streamlit
langchain==0.2.14
langchain-community==0.2.11
streamlit>=1.34.0
requests>=2.31.0
pydantic>=2.5,<3